@import "click-menu"

header
  display: flex
  justify-content: space-between
  align-items: center
  background: $timberwolf
  font-family: $header-font
  @extend %full-width 
  span
    color: $red

nav
  margin-right: $margin

h1
  font-size: 2em
  margin: $margin
